/* General Styling */
@import url('root.css');

#background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -99;
}

#background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to top, var(--background), rgba(0, 0, 0, 0));
    z-index: 0;
    pointer-events: none;
}


/* About Page */
#profile {
    margin: 3vw;
    padding: 15px;
    background-color: var(--highlight);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease ;
}

#profile:hover {
    background-color: var(--hoverhightlight);
    transform: scale(1.02);
}

#profile-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

#profile-inner .main {
    flex: 1;
}

#profile-inner .aside {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 20px;
}

#profile-inner .aside img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: --accent2 3px solid;
    object-fit: cover;
    border-radius: 10%;
    border: none;
    transition: border 0.3s ease;
}

#profile:hover #profile-inner .aside img
{
    
    border: 5px solid var(--accent2);
}


/* Project Page */
#project {
    margin: 3vw;
    padding: 15px;
    background-color: var(--highlight);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease ;
}

#project:hover {
    background-color: var(--hoverhightlight);
    transform: scale(1.02);
}

#project-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

#project-inner .main {
    flex: 10vw;
}

#project-inner .aside {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 20px;
}

#project-inner .aside img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: --accent2 3px solid;
    object-fit: cover;
    border-radius: 20%;
    border: none;
    transition: border 0.3s ease;
}
#project:hover #project-inner .aside img
{
    
    border: 5px solid var(--accent2);
}


/* Contact Page */
#contact {
    margin: 3vw;
    margin-bottom: 6vw;
    padding: 15px;
    background-color: var(--highlight);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}



/* Responsive Styling */

@media only screen and (max-width: 600px) {
    #profile-inner,
    #project-inner,
    #contact-inner{
        font-size: 2.5vh;
        flex-direction: column;
        align-items: center;
    }

    #profile-inner .aside img,
    #project-inner .aside img {
        max-width: 85vw;
        height: auto;
    }
}


@media only screen and (max-width: 768px) and (min-width: 600px) {
    #profile-inner,
    #project-inner,
    #contact-inner {
        flex-direction: column;
        align-items: center;
    }

    #profile-inner .aside img,
    #project-inner .aside img {
        max-width: 90vw;
        height: auto;
    
}

}