@import url('root.css');
/* General Styling */

#background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -99;
}

#background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to top, var(--background), rgba(0, 0, 0, 0));
    z-index: 0;
    pointer-events: none;
}

/* Project Page */
#project {
    margin: 3vw;
    padding: 15px;
    background-color: var(--highlight);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

#project-inner
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-start;
}

#project-item
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 50px;
}
#project-item ul,
#project-item ul li,
#project-item .title
{
    align-self: center;
}

#screenshot
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: --accent2 3px solid;
    object-fit: cover;
    border-radius: 20%;
    margin: 10px;
}


/* Social Icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease ;
}

.fa:hover {
    background-color: var(--accenthover);
    transform: scale(1.02);
}

.fa-facebook,
.fa-linkedin,
.fa-github,
.fa-youtube {
    background: var(--accent);
    color: var(--accent2);
}


/* Responsive Styling */

@media only screen and (max-width: 600px) {
   /* Project Page */
    #project {
        margin: 3vw;
        padding: 15px;
        justify-items: center;

    }

    #project-item p {
        font-size: 2.7vh;
        flex: 1;
    }
    #project-item .title
    {
    line-height: 12vw;
    }
}


@media only screen and (max-width: 768px) {
   /* Project Page */
   #project {
    margin: 3vw;
    padding: 15px;
    justify-items: center;

}

#project-item p {
    font-size: 2.7vh;
    flex: 1;
    }
#project-item .title
    {
    line-height: 12vw;
    }
}




