/* General Styling */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 28, 41);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.title {
    font-size: 50px;
    color: red;
}

.button {
    height: 60px;
    width: 200px;
    border: white solid 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: white;
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
    border: rgb(30, 33, 58) solid 2px;
    background-color: rgb(0, 0, 0);
}


/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    transition: background 0.3s ease, padding 0.3s ease;
    z-index: 999;
    background-color: transparent;
}

.navbar-toggle {
    display: none;
    font-size: 35px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 999;
}

.navbar.scrolled {
    padding: 0;
    background: red;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.navbar #menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 25px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: black;
}


/* Home Page */
.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: height 0.3s ease;
    overflow: hidden;
}

.home.scrolled {
    height: 80vh;
}

.home #text {
    position: absolute;
    padding-top: 30vh;
    z-index: 2;
}

.home #text h1 {
    font-size: 150px;
    padding-left: 15vh;
}

.home #text h2 {
    font-size: 100px;
    padding-left: 10vh;
    color: red;
}

#background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -99;
}

#background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to top, rgb(29, 28, 41), rgba(0, 0, 0, 0));
    z-index: 0;
    pointer-events: none;
}

/* Project Page */
#projects {
    margin: 3vw;
    padding: 15px;
    background-color: rgb(21, 20, 29);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#project-title
{
    color: red;
}
#project-subtitle
{
    color: white;
}

#projects-inner
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project-wrapper
{

    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex: 1 1 900px;
    transition: background-color 0.3s ease, transform 0.3s ease ;
}
.project-wrapper:hover
{
    transform: scale(1.02);
    background-color: rgb(40, 37, 56);
}

#main
{
    flex: 0 0 50%;
}
#aside
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 50%;
}


/* Contact Page */
#contact {
    margin: 3vw;
    margin-bottom: 6vw;
    padding: 15px;
    background-color: rgb(21, 20, 29);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}


/* Footer */
footer {
    padding: 15px;
    background-color: rgb(21, 20, 29);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

footer .title {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#footer-inner {
    display: flex;
    flex-direction: row;
    padding: 1vh;
}

#footer-inner .main {
    flex: 1;
    justify-items: center;
    max-width: 100%;
}

#footer-inner .aside {
    flex: 1;
    width: 20vw;
    justify-items: center;
    margin-bottom: 20px;
}

#footer-inner .aside iframe {
    width: 400px;
    height: 400px;
    border: rgb(40, 39, 54) 3px solid;
    object-fit: cover;
}

.footersticky {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    background-color: red;
    transition: background-color 0.7s ease;
    text-align: center;
    z-index: 1000;
}

.footersticky.scrolled {
    position: fixed;
}

.footersticky.bottom {
    background-color: rgba(21, 20, 29, 0);
}

footer p {
    margin: 0px;
}


/* Social Icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,
.fa-linkedin,
.fa-github,
.fa-youtube {
    background: #983b3b;
    color: white;
}


/* Responsive Styling */

@media only screen and (max-width: 600px) {
    body,html{
        font-size: 3.8vmin;
        line-height: 4vmax;
    }

    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin-top: 3vw;
    }

    .navbar ul li {
        margin-left: 0px;
    }

    .navbar.scrolled {
        padding: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar #menu-inner {
        padding: 20px;
    }

    .navbar.scrolled ul li {
        background-color: red;
    }

    .navbar.scrolled ul,
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 998;
        background-color: rgba(0, 0, 0, 0.123);
    }

    .navbar ul.show {
        display: flex;
    }

    .navbar ul li {
        text-align: center;
        width: 100vw;
        margin: 0;
    }

    .navbar ul li a {
        font-size: 18px;
        padding: 12px;
    }

    #text {
        padding-top: 1vh;
        text-justify: auto;
    }

    #home #text h1,
    #home #text h2 {
        padding-left: 0;
        text-align: left;
    }

    #home #text h1 {
        font-size: 18vw;
    }

    #home #text h2 {
        font-size: 12vw;
    }

    #footer-inner {
        font-size: 2.5vh;
        flex-direction: column;
        align-items: center;
    }


    #footer-inner .aside iframe {
        width: 75vw;
        max-width: none;
        height: 75vw;
        margin-bottom: 5vw;
    }

    .footersticky {
        font-size: 18px;
        line-height: 2.5vh;
    }
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 20px;
        line-height: 30px;
    }

    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin-top: 2.5vw;
    }

    .navbar ul li {
        margin-left: 0px;
    }

    .navbar.scrolled {
        padding: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar #menu-inner {
        padding: 20px;
    }

    .navbar.scrolled ul li {
        background-color: red;
    }

    .navbar.scrolled ul,
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 998;
        background-color: rgba(0, 0, 0, 0.123);
    }

    .navbar ul.show {
        display: flex;
    }

    .navbar ul li {
        text-align: center;
        width: 100vw;
        margin: 0;
    }

    .navbar ul li a {
        font-size: 20px;
        padding: 15px;
    }

    #text {
        padding-top: 1vh;
        text-justify: auto;
    }

    #home #text h1,
    #home #text h2 {
        padding-left: 0;
        text-align: left;
        line-height: 10vw;
    }

    #home #text h1 {
        font-size: 15vw;
    }

    #home #text h2 {
        font-size: 10vw;
    }

    #footer-inner {
        flex-direction: column;
        align-items: center;
    }

    #footer-inner .aside iframe {
        width: 80vw;
        max-width: none;
        height: 80vw;
        margin-bottom: 6vw;
    }

    .footersticky {
        font-size: 20px;
        line-height: 3vh;
    }
}


@media only screen and (max-width: 992px) {
    body {
        font-size: 24px;
        line-height: 35px;
    }

    .home #text h1 {
        font-size: 105px;
        padding-left: 15vh;
    }

    .home #text h2 {
        font-size: 70px;
        padding-left: 10vh;
        color: red;
    }
}


@media only screen and (max-width: 1200px) {
    body {
        font-size: 26px;
        line-height: 40px;
    }

    .home #text h1 {
        font-size: 130px;
        padding-left: 10vh;
    }

    .home #text h2 {
        font-size: 85px;
        padding-left: 8vh;
        color: red;
    }

    .navbar ul li a {
        font-size: 22px;
        padding: 18px;
    }

    #footer-inner .aside iframe {
        width: 70vw;
        height: 70vw;
    }
}



