:root {
    --background: rgb(29, 28, 41);
    --highlight:rgb(21, 20, 29);
    --hoverhightlight: rgb(35, 35, 46);
    --accent:rgb(107, 0, 0);
    --accenthover:rgb(0, 0, 0);
    --accent2: white;
  }