body
{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color:white;;
}
/*Navigation Bar*/
#menu
{
position:sticky;
  top: 0;
  overflow: hidden;
  background-color: red;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
   }


/*#menu ul{
 list-style: none;
 margin: 0;
 padding:0;
 background-color: (120,120,120,0);
 overflow: hidden;
 font-family: 'Times New Roman', Times, serif;
 font-weight:bold;
}*/
#menu ul li{
    float:left;
}

#menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: large;
    text-decoration: none;
    font-size: 25px;
  }
    
#menu ul li a:hover{
    background-color: black;
}
/*Navigation Bar!END*/

/*Home Page*/

#home #background video{
position:absolute;
width: 100%;
height: auto;
top: 0;
z-index: -99;
}
#home #text{
padding-top: 210px;
padding-left: 0px;
padding-bottom: 210px;
}
#home #text h1
{

Font-size:150px

}
#home #text h2
{

Font-size:100px;
color:red;
}
/*Home Page!END*/
/* 
#menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: large;
    text-decoration: none;
    font-size: 25px;
  }
  #menu ul li a:hover{
    color: black;
  }
  */


/* Extra small devices (e.g., small phones) - 600px and below */  
@media only screen and (max-width: 600px) {
    #menu ul li a {
        padding:2vw;
        font-size: 4vw;
      }
 }  

/* Small devices (600px and above) */  
@media only screen and (min-width: 600px) {  }  

/* Medium devices (e.g., tablets) - 768px and above */  
@media only screen and (min-width: 768px) { }  

/* Large devices (e.g., laptops, desktops) - 992px and above */  
@media only screen and (min-width: 992px) {  }  

/* Extra large devices - 1200px and above */  
@media only screen and (min-width: 1200px) {  }  



