body
{
    overflow-x: hidden;
}
#menu
{
    margin-top: -0.8vh;
    margin-left: -0.4vw;
    margin-right: -0.4vw;
}
#menu ul{
 list-style: none;
 margin: 0;
 padding:0;
 background-color: red;
 overflow: hidden;
 font-family: 'Times New Roman', Times, serif;
 font-weight:bold;
 
}
#menu ul li{
    float:left;
}

#menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: large;
    text-decoration: none;
    font-size: 25px;
  }
#menu ul li a:hover{
    background-color: black;
  }


