/* General Styling */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 28, 41);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 50px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.title {
    font-size: 50px;
    color: red;
}

.button {
    height: 60px;
    width: 200px;
    border: white solid 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    color: white;
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
    border: rgb(30, 33, 58) solid 2px;
    background-color: rgb(0, 0, 0);
}


/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    transition: background 0.3s ease, padding 0.3s ease;
    z-index: 999;
    background-color: transparent;
}

.navbar-toggle {
    display: none;
    font-size: 35px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 999;
}

.navbar.scrolled {
    padding: 0;
    background: red;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar #menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 25px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: black;
}


/* Home Page */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: height 0.3s ease;
    overflow: hidden;
}

.home.scrolled {
    height: 80vh;
}

.home #text {
    position: absolute;
    padding-top: 30vh;
    z-index: 2;
}

.home #text h1 {
    font-size: 150px;
    padding-left: 15vh;
}

.home #text h2 {
    font-size: 100px;
    padding-left: 10vh;
    color: red;
}

#background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -99;
}

#background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to top, rgb(29, 28, 41), rgba(0, 0, 0, 0));
    z-index: 0;
    pointer-events: none;
}


/* About Page */
#profile {
    margin: 3vw;
    padding: 15px;
    background-color: rgb(21, 20, 29);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#profile:hover {
    background-color: rgb(35, 35, 46);
}

#profile-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

#profile-inner .main {
    flex: 1;
}

#profile-inner .aside {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 20px;
}

#profile-inner .aside img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: white 3px solid;
    object-fit: cover;
}


/* Project Page */
#project {
    margin: 3vw;
    padding: 15px;
    background-color: rgb(21, 20, 29);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#project:hover {
    background-color: rgb(35, 35, 46);
}

#project-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

#project-inner .main {
    flex: 10vw;
}

#project-inner .aside {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 20px;
}

#project-inner .aside img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: white 3px solid;
    object-fit: cover;
}


/* Contact Page */
#contact {
    margin: 3vw;
    margin-bottom: 6vw;
    padding: 15px;
    background-color: rgb(21, 20, 29);
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}


/* Footer */
footer {
    padding: 15px;
    background-color: rgb(21, 20, 29);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

footer .title {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#footer-inner {
    display: flex;
    flex-direction: row;
    padding: 1vh;
}

#footer-inner .main {
    flex: 1;
    justify-items: center;
    max-width: 100%;
}

#footer-inner .aside {
    flex: 1;
    width: 20vw;
    justify-items: center;
    margin-bottom: 20px;
}

#footer-inner .aside iframe {
    width: 400px;
    height: 400px;
    border: rgb(40, 39, 54) 3px solid;
    object-fit: cover;
}

.footersticky {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    background-color: red;
    transition: background-color 0.7s ease;
    text-align: center;
    z-index: 1000;
}

.footersticky.scrolled {
    position: fixed;
}

.footersticky.bottom {
    background-color: rgba(21, 20, 29, 0);
}

footer p {
    margin: 0px;
}


/* Social Icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,
.fa-linkedin,
.fa-github,
.fa-youtube {
    background: #983b3b;
    color: white;
}


/* Responsive Styling */

/* Small and Medium Devices - 768px and below */
@media only screen and (max-width: 768px) {
    body {
        font-size: 20px;
        line-height: 30px;
    }

    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin-top: 2.5vw;
    }

    .navbar ul li {
        margin-left: 0px;
    }

    .navbar.scrolled {
        padding: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar #menu-inner {
        padding: 20px;
    }

    .navbar.scrolled ul,
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 998;
        background-color: rgba(0, 0, 0, 0.123);
    }

    .navbar ul.show {
        display: flex;
    }

    .navbar ul li {
        text-align: center;
        width: 100vw;
        margin: 0;
    }

    .navbar ul li a {
        font-size: 20px;
        padding: 15px;
    }

    #text {
        padding-top: 1vh;
        text-justify: auto;
    }

    #home #text h1,
    #home #text h2 {
        padding-left: 0;
        text-align: left;
    }

    #home #text h1 {
        font-size: 15vw;
    }

    #home #text h2 {
        font-size: 10vw;
    }

    #profile-inner,
    #project-inner,
    #footer-inner {
        flex-direction: column;
        align-items: center;
    }

    #profile-inner .aside img,
    #project-inner .aside img {
        max-width: 90vw;
        height: auto;
    }

    #footer-inner .aside iframe {
        width: 80vw;
        max-width: none;
        height: 80vw;
        margin-bottom: 6vw;
    }

    .footersticky {
        font-size: 20px;
        line-height: 3vh;
    }
}


/* Medium Laptops/Small Monitors - 992px and below */
@media only screen and (max-width: 992px) {
    body {
        font-size: 24px;
        line-height: 35px;
    }

    .home #text h1 {
        font-size: 105px;
        padding-left: 15vh;
    }

    .home #text h2 {
        font-size: 70px;
        padding-left: 10vh;
        color: red;
    }
}


/* Standard Devices - 1200px and below */
@media only screen and (max-width: 1200px) {
    /* You can add styles here if needed */
}


/* Extra Large Devices - 1440px and above */
<<<<<<< HEAD
@media only screen and (min-width: 2560px) {
=======
@media only screen and (min-width: 1440px) {
>>>>>>> bf223b7005d31561d7df0ebb6e709892dd23194e
    body {
        font-size: 2.6vh;
        line-height: 7vh;
    }

    .button {
        height: 6vh;
        width: 9vw;
        font-size: 2vh;
    }

    .title {
        font-size: 5.5vh;
        color: red;
    }

    .home #text h1 {
        font-size: 10vh;
        padding-left: 15vh;
    }

    .home #text h2 {
        font-size: 15vh;
        padding-left: 10vh;
    }

    .navbar ul li a {
        font-size: 3vh;
        padding: 2vh;
    }

    #profile-inner .aside img,
    #project-inner .aside img {
        width: 30vw;
        height: 30vw;
        max-width: none;
    }

    #footer-inner .aside iframe {
        width: 30vw;
        height: 30vw;
    }
}
